* {
  box-sizing: border-box;

}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}



.home {
  background: url('https://images.pexels.com/photos/3552948/pexels-photo-3552948.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
}

.bird {
  position: relative;
  top: 100px;
  left: 200px;
  background-image: url('https://images.vexels.com/media/users/3/131435/isolated/preview/d4a76c411a718499087d0f619dd89540-simple-maple-leave-silhouette-by-vexels.png');
  background-size: auto 100%;
  width: 220px;
  background-color: transparent;
  height: 125px;
  will-change: background-position;
  animation-name: fly-cycle;
  animation-timing-function: steps(10);
  animation-iteration-count: infinite;
  animation-duration: 1s;
  animation-delay: -3.5s;
}

@keyframes fly-cycle {
  100% {
    background-position: -900px 0;
  }
}



/* .card-title {
  text-align: center;
  font-size: 0.8em;
}

.card-text {
  word-break: break-all;
  font-size: 0.75em;
}

.card-body .btn-primary {
  font-size: 0.7em;
  display: inline-block;
  width: 100%;
}

.card-body {
  position: relative;
  top: 60px;
} */
/* 
@media only screen and (min-width: 400px) and (max-width: 599px) {


  .ul {
    display: flex;
    flex-direction: column;
  }

  .cardo {
    flex: 50%;
    height: 46vh;
  }

  .card-body {
    position: relative;
    top: 90px;
  }

  .card__svg {
    top: -20px;
  }
}


@media only screen and (min-width: 600px) and (max-width: 767px) {


  .cardo {
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column wrap;
    align-content: center;

  }

  .card-body {
    position: relative;
    top: 65px;
  }

  .card__svg {
    top: 80px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 899px) {
  .cardo {
    height: 50vh;
  }

  .card-body {
    position: relative;
    top: 85px;
  }

  .card__svg {
    top: 80px;
  }
}

@media only screen and (min-width: 900px) and (max-width: 1149px) {
  .cardo {
    height: 55vh;
  }

  .card-body {
    position: relative;
    top: 90px;
  }

  .card__svg {
    top: 50px;
  }
}

@media only screen and (min-width: 1150px) and (max-width: 1390px) {

  .cardo {
    height: 55vh;
  }

  .card-body {
    position: relative;
    top: 90px;
  }

} */